{% load static i18n %}

<footer class="main-footer" style="background-image: url(assets/images/backgrounds/footer-bg-1.png);">
    <div class="container">
          <div class=" foter-menu__logo text-center ">
                        <a href="">
                             <span class="sq">Sq</span> <span class="ananlysis">- Ananlysis</span> <span class="dot">.</span>
                        </a>
                    </div>
        <p class="main-footer__copyright wow fadeInUp animated text-center" data-wow-delay="500ms">© Copyright <span class="dynamic-year"></span><!-- /.dynamic-year -->  <a ></a></p>
    </div><!-- /.container -->
</footer><!-- /.main-footer -->