{% load static i18n %}
<!-- footer -->
<footer class="footer">
    <div class="container">
        {% comment %}
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 order-1 order-lg-4 order-xl-1">
                <!-- footer logo -->
                <div class="footer__logo">
                    <img src="img/logo.svg" alt="">
                </div>
                <!-- end footer logo -->

                <!-- footer tagline -->
                <p class="footer__tagline">The Centure team works hard <br>to deliver exceptional financial results <br>and increase our clients' revenue.</p>
                <!-- end footer tagline -->

                <!-- footer currencies -->
                <div class="footer__currencies">
                    <i class="ti ti-currency-bitcoin"></i>
                    <i class="ti ti-currency-ethereum"></i>
                    <i class="ti ti-currency-litecoin"></i>
                    <i class="ti ti-currency-solana"></i>
                    <i class="ti ti-currency-dogecoin"></i>
                </div>
                <!-- end footer currencies -->
            </div>

            <!-- navigation -->
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-3 order-md-2 order-lg-2 order-xl-3 offset-md-2 offset-lg-0">
                <h6 class="footer__title">Company</h6>
                <div class="footer__nav">
                    <a href="about.html">About Centure</a>
                    <a href="blog.html">Our news</a>
                    <a href="about.html">License</a>
                    <a href="contacts.html">Contacts</a>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-6 col-xl-4 order-2 order-md-3 order-lg-1 order-xl-2">
                <div class="row">
                    <div class="col-12">
                        <h6 class="footer__title">Services & Features</h6>
                    </div>

                    <div class="col-6">
                        <div class="footer__nav">
                            <a href="invest.html">Invest</a>
                            <a href="token.html">Token</a>
                            <a href="affiliate.html">Affiliate</a>
                            <a href="contest.html">Contest</a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="footer__nav">
                            <a href="about.html">Safety</a>
                            <a href="about.html">Automatization</a>
                            <a href="about.html">Analytics</a>
                            <a href="reports.html">Reports</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2 order-4 order-md-4 order-lg-3 order-xl-4">
                <h6 class="footer__title">Support</h6>
                <div class="footer__nav">
                    <a href="faq.html">Help center</a>
                    <a href="how.html">How it works</a>
                    <a href="privacy.html">Privacy policy</a>
                    <a href="privacy.html">Terms & conditions</a>
                </div>
            </div>
            <!-- end navigation -->
        </div>
        {% endcomment %}

        <div class="row">
            <div class="col-12">
                <div class="footer__content">
                    <!-- footer social -->
                    <div class="footer__social">
                        <a href="#" target="_blank"><i class="fas fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fas fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fas fa-instagram"></i></a>
                        <a href="#" target="_blank"><i class="fas fa-telegram"></i></a>
                    </div>
                    <!-- end footer social -->

                    <!-- footer copyright -->
                    <span class="footer__copyright">© 2026 Auxobot, All right reserved.</span>
                    <!-- end footer copyright -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
